
@{
    ViewBag.Title = "Index";
}

<h2>Queries</h2>
<ul>
    <li>@Html.ActionLink("Search Comments Author", "CommentAuthorDisplay", "Queries")</li>
    <li>@Html.ActionLink("Brief Description of Blog", "Brief", "Queries")</li>
    <li>@Html.ActionLink("Posts Per Author", "PostAuthorAndPosts", "Queries")</li>
</ul>

<canvas id="myCanvas" width="200" height="100"></canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
// Create gradient
var grd = ctx.createLinearGradient(0,0,200,0);
grd.addColorStop(0,"green");
grd.addColorStop(1,"white");
// Fill with gradient
ctx.fillStyle = grd;
ctx.fillRect(10,10,150,80);
</script>
